<!-- dashboard.component.html -->
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">{{ title }}</h1> -->
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let card of cards" class="col-lg-3 col-6">
          <app-card [customStyles]="{color:card.fontColor,background:card.linear || null}"
                    [fontColor]="card.fontColor||null" [value]="card.value" [unit]="card.unit ?? null"
                    [description]="card.description" [icon]="card.icon" [footerText]="card.footerText" [id]="card.id"
                    [bgFooter]="card.footerBg||null">
          </app-card>

        </div>
      </div>
    </div>
  </section>
</div>
